
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

  audio:not([controls]) {
      display: none;
      height: 0;
  }

[hidden] {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-size: 100%;
  line-height: 100%;
  font-weight: normal;
  font-family: 'Noto Sans TC', '微軟正黑體',Arial, sans-serif, 'PingFang TC', 'MHei', 'Helvetica', 'STHeitiTC-Light', 'Microsoft JhengHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  -webkit-overflow-scrolling: touch;
  background: #FFF;
  
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

  a:active, a:hover {
      outline: 0;
  }

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

dl, menu, ol, ul {
  margin: 0;
}

ul {
  list-style: none;
  list-style-image: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  /*vertical-align: middle;*/
  font-family: 'Noto Sans TC', '微軟正黑體',Arial, sans-serif, 'PingFang TC', 'MHei', 'Helvetica', 'STHeitiTC-Light', 'Microsoft JhengHei';
}

button, input {
  line-height: normal;
}

  button, html input[type="button"],
  input[type="reset"], input[type="submit"] {
      -webkit-appearance: button;
      cursor: pointer;
      *overflow: visible;
  }

      button[disabled], input[disabled] {
          cursor: default;
      }

  input[type="checkbox"], input[type="radio"] {
      box-sizing: border-box;
      padding: 0;
      *height: 13px;
      *width: 13px;
  }

  input[type="search"] {
      -webkit-appearance: textfield;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }

      input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
          -webkit-appearance: none;
      }

  button::-moz-focus-inner, input::-moz-focus-inner {
      border: 0;
      padding: 0;
  }

textarea {
  overflow: auto;
  vertical-align: top;
}

input, button, select, textarea {
  outline: none
}

*:focus {
  outline: none;
}

input:focus, textarea:focus {
  outline: none;
}

  input:focus:placeholder {
      color: transparent;
  }

  input:focus::-webkit-input-placeholder {
      color: transparent;
  }

  input:focus:-moz-placeholder {
      color: transparent;
  }

  input:focus::-moz-placeholder {
      color: transparent;
  }

  input:focus:-ms-input-placeholder {
      color: transparent;
  }

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

mark {
  background: #ff0;
  color: #000;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

  q:before, q:after {
      content: '';
      content: none;
  }

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1em;
}

button {
  font-family: '微軟正黑體',Arial, sans-serif;
}
